@model WebSite.ViewModels.Account.ResetPasswordViewModel

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
    ViewBag.Title = "Reset password";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="login-wrap">
                <div class="login-logo">
                    <img src="http://placehold.it/100x100/?text=LOGO" alt="" />
                </div>
                <h2 class="login-header">Reset password</h2>
                <div class="panel panel-default panel-login">
                    <div class="panel-body">
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { ReturnUrl = ViewBag.ReturnUrl }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Code)

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password)
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword)
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Reset password</button>
                        }
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body text-center">
                        <a href="@Url.Action("LogIn")">Back to Sign in</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
